body{
margin:0;
font-family:Arial;
background:#111;
color:white;
text-align:center;
}

section{
padding:80px 20px;
}

.hero{
background-image:url(dellanno.jpg);
background-size:cover;
background-position:center;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.hero h1{
font-size:60px;
}

.hero h2{
font-size:30px;
}

.logos{
position:absolute;
bottom:20px;
width:100%;
display:flex;
justify-content:space-between;
padding:0 40px;
}

.logos img{
height:60px;
}

.marcas{
background:#181818;
}

.grid-marcas{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.card{
background:#222;
padding:20px;
border-radius:10px;
width:300px;
}

.card img{
width:100%;
border-radius:10px;
}

.graficos{
background:#111;
}

canvas{
max-width:700px;
margin:auto;
}

.estrategia{
background:#181818;
font-size:22px;
}

.compromiso{
background:#111;
font-size:26px;
}
